body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    /* border: 5px solid mistyrose; */
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.grey-box {
    background-color: grey;
    padding: 50px 150px;
    text-align: center;
    /* width: 500px; */
    /* height: 200px; */
}

.awesome {
    display: flex;
    padding: 60px 0;
}

.awesome-left {
    display: flex;
    flex-direction: column;
}

.main1 {
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    
    padding: 50px;
}

.main1header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding-bottom: 20px;
}

.box {
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    flex-shrink: 0;
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.main2 {
    /* border: 5px solid red; */
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 50px;
    margin-left: 50px;
}

.author {
    font-weight: bold;
    text-align: right;
    padding-bottom: 50px;
}


.main3 {
    /* border: 5px solid yellow; */
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    padding: 50px;
    margin: 50px;
    border-radius: 5px;
}

.calltext {
    display: flex;
    flex-direction: column;
    
}
.call {
    font-weight: bold;
}

.signup2 {
    margin-left: auto;
    border: 1px solid white;
}

.footer {
    /* border: 5px solid purple; */
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: center;
    padding: 20px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

